body {
    background-color: black;
}

.post-options-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comment-post,
.retweet-post,
.like-post,
.share {
 /*   margin-right: 90px; */
    width: 20px;
    margin-top: 5px;
}

.comment-count,
.retweet-count {
    color: #71767b;
    font-size: 13px;
    margin-left: 2rem;
}

.like-count {
    color: #f92f80;
    font-size: 13px;
    line-height: 10px;
    margin-left: 2rem;
}


.comments,
.retweets,
.likes {
    display: flex;
    align-items: center;
    justify-content: center;
}


