body {
    background-color: black;
}

.whatshappening {
    background-color: #212326;
    margin-left: 20px;  
}

.whatshappening-heading {
    font-family: 'chirp-bold';
    padding-left: 7px;
}

.cell1 {
    color: #52565b;
}

.cell-header {
    font-family: 'chirp-bold';
    color: white;
}
