@font-face {
    font-family: 'chirp-bold';
    src: url(../Fonts/chirp-bold-web.woff);
}

header {
    height: 55px;
}
 /*   width: 43.62500rem; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 46.55rem;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    border: none;
    z-index: 1;
    font-family: Roboto, Arial;
    border-left: 1px solid rgb(83, 100, 113);
    border-right: 1px solid rgb(83, 100, 113);
}


.blur {
    display: flex;
    width: 100%;
    height: 100%;
    position:relative;
    font-size:20px;
    color: white;
 

    align-items: center;
}

.blur:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 0;
  }

    .blur span {
    position:relative;
    z-index: 1;
  }


.home-text {
    color: white;
    margin-left: 10px;
    font-weight: 700px;
    font-family: "chirp-bold";
}
*/
