html, body{
    padding: 0;
    margin: 0;
 }

@font-face {
    font-family: 'chirp-regular';
    src: url(../Fonts/chirp-regular-web.woff);
}

@font-face {
    font-family: 'chirp-bold';
    src: url(../Fonts/chirp-bold-web.woff);
}

* {
    color: white;
}
.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    height: 100vh;
}

main {
    background-color: black;
    border-left: 1px solid rgb(83, 100, 113);
    border-right: 1px solid rgb(83, 100, 113);
    overflow: hidden;
/*    display: grid;
    grid-template-rows: 589.97px auto;
*/
}


body {
    background-color: black;
    font-family: "chirp-regular";

}

.tweet-container {
    display: flex;
    width: 589.97px;
    flex: 1;
    top: 0;
    height: 200px;
    border-bottom: 1px solid rgb(83, 100, 113);
    overflow: hidden;
}

.reply-settings-container {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
 }
 
 .reply-settings {
     color: #1c9aee;
     border: 1px solid rgb(83, 100, 113);
     padding: 1px 12px;
     border-radius: 15px;
     background-color: black;
     font-size: 14px;
     font-weight: 600; 
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }
 
 .dropdown {
     height: 14px;
     margin-left: 5px;
     margin-top: 1px;
 }
 
 .profile-picture {
     height: 40px;
     border-radius: 24px;
     margin-top: 10px;
     margin-left: 10px;
     width: 40px;
     /*
     display: inline-block;
     margin-bottom: 20px;
     margin-right: 5px;
    */
 }
 
 .tweet-type {
     color: gray;
     background-color: black;
     border: none;
     width: 502px;
     padding-top: 12px;
     padding-bottom: 12px;
     font-size: 20px;
     font-stretch: 100%;
     margin-bottom: 20px; 
     outline: none;
 }
 
 .tweet ::placeholder {
     font-family: "chirp-regular";
 }
 
 input, select, .tweet{
     color: white;
     font-family: "chirp-regular";
 }
 
 .tweet:focus, input:focus {
     color: white;
     font-family: "chirp-regular";
 }
 
 .globe-button {
     background-color: black;
     border: none;
     color: #1c9aee;
     display: flex;
     align-items: center;
     justify-content: start;
     padding-bottom: 15px;
     font-size: 14px;
     font-weight: 700;
     border-bottom: 1px solid rgb(83, 100, 113);
     width: 100%;
     margin-bottom: 15px;
 }
 
 .globe-icon {
     height: 16px;
     margin-right: 5px;
 }
 
 .tweet-icons {
     display: flex;
     align-items: center;
     flex-direction: row;
     margin-bottom: 20px;
     margin-left: 5px;
     padding-bottom: 20px;
     overflow: hidden;
     
 }
 
 .media-logo,
 .gif-logo,
 .poll-logo,
 .emoji-logo,
 .schedule-logo {
     margin-right: 15px;
     height: 21px;
     cursor:pointer;
 }
 
 .tweet-button {
    font-family: "chirp-bold", Arial;
     background-color: rgb(29, 155, 240);
     color: white;
     font-weight: 700;
     font-size: 15px;
     min-height: 36px;
     min-width: 36px;
     padding: 0px 20px;
     border-radius: 20px;
     border: none;
     margin-left: 245px;
     cursor: pointer;
     margin-right: 10px;
 }
 

.tweet-grid {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
}

.tweet-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.tweet-username {
    color: white;
    font-family: "chirp-bold";
    font-size: 12px;
}

.tweet-stats {
    margin-top: 0;
    font-size: 14px;
    color: #494c50;
    margin-left: 8px;
    font-family: "chirp-regular";
    font-size: 14px;
    

}

.tweet-profile {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
}


.stats-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    align-items: center;
}

.tweet-caption {
    font-size: 12px;
    font-family:"chirp-regular";
    margin-left: 8px;

}

.elipses {
    align-items: center;
    justify-content: end;
    background-color: beige;
}
















/*
.tweet-deen-bot {
    border-bottom: 1px solid rgb(83, 100, 113);
    border-top: 1px solid rgb(83, 100, 113);
    
}

 .account-details {
    font-weight: 600;
    display: flex;
 }

 .account-name {
    margin-top: 0.75rem;
    font-family: "chirp-bold";
 }

 .deenbot {
    font-family: "chirp-regular";
    color: gray;
 }

 .caption {
    margin-top: 40px;
    margin-left: -177px;
 }

 .post-wrapper {
    padding-left: 3.75rem;
    padding-right: 0.313rem;
 }
 
 .post {
   width: 500px;
 }

 .likes {
    padding: 3.75rem;
 }

 .comment-post,
 .retweet-post,
 .like-post,
 .share {
    margin-right: 90px;
    width: 20px;
 }
 
 
/*
    margin-right: 0 auto;
    margin-top: 55px;
    margin-left: 175px;
*/
/*

}


*/

