.rightbar {
}

.right-sidebar {
    position: fixed
}

.search-input {
 /*   background: #212326; */
    border: none;
    border-radius: 20px;
    width: 230px;
    height: 35px;
    padding-left: 50px;
    background-image: url('../icons/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 20px center; 
    background-color: #212326;

}

.search-input:focus {
    outline: 2px solid #1a87d2;
    background-image: url(../icons/search-focus.svg);
    background-color: black;
}

.search {
    margin-top: 5px;
    padding-left: 20px;  
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.whatshappening {
    background-color: #16181d;
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}


.whatshappening-heading {
    font-family: 'chirp-bold';
    padding-left: 7px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color:#e6e9ea;
    margin-left: 5px;

}

.cell-row {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
}

.cell1 {
    background-color: #16181d;
    color: #62666b; 
    display: grid;
    grid-template-columns: auto auto;
    
    
    /*
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    row-gap: 10px;
    */
}

.trending-cells {
    background-color: #16181d;
    color: #62666b; 
    display: grid;
    grid-template-columns: auto auto;
    /*
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    */
}

.trending-cells:hover {
    background-color: #212326;
}

.cell1:hover {
    background-color: #212326;
}

.cell-text {
    display: grid;
    grid-template-rows: auto auto auto;
    font-size: 11.5px;
    color: #62666b; 
    padding-left: 10px;
    row-gap: 3px;
}

.cell-header {
    font-family: 'chirp-bold';
    color:#e6e9ea;
    font-size: 13px;
    flex: 1;
    padding-bottom: 40px;
    padding-top: 5px;
}

.cell1-image {
    /*
    display: inline-flex;
    flex: 1;
    */
    height: 60px;
    width: 60px;
    object-fit: cover;
    padding-right: 15px;
    align-self: center;
    border-radius: 20px;
}

.cell-image {
    justify-self: end; 
}

.cell-topic {
    font-family: 'chirp-bold';
    color:#e6e9ea;
    font-size: 13px;
    flex: 1;
    padding-bottom: 3px;
}

.tweet-count {
    font-size: 11.5px;
    color: #62666b; 
}

.cell-more-options-wrapper {
    justify-self: end;
}

.cell-more-options {
    height: 18px;
    width: 18px;
    object-fit: cover;
    border-radius: 20px;
    padding-right: 20px;
    align-self: center;
    justify-self: end;
}

.last-cell {
    background-color: #16181d;
    color: #62666b; 
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
    margin-bottom: 10px;
}