.left-sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background-color: black;
    width: 36rem; 
    z-index: 2;
    padding-top:  5px;
}



.sidebar-link {
    height: 500px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 150px;
}

.home-logo,
.explore-logo,
.notifications-logo,
.inbox-logo,
.bookmark-logo,
.lists-logo,
.profile-logo,
.more-logo {
    height: 30px;
}

.write-tweet-button {
    background-color: #1e9bf0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
}

