

.left-sidebar {
    position: fixed;
   left: 0px;
    bottom: 0px;
    top: 0px;
  /*  width: 36rem; */

    z-index: 2;
    padding-top:  5px;
}

/*
.sidebar-wrapper {
    height: 31.281rem; 
    width: fit-content;
    align-items: flex-end;
}

*/

.sidebar-link {
    height: 31.281rem; 
    width: fit-content;
    display: flex; 
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
  /*  padding-top: 10px; */
    padding-left: 250px;
    margin-top: 2px; 
 /*  margin-left: 18.313rem;
*/
    margin-left: 190px;
    align-items: flex-start;
}

.twitter-logo {
    position: absolute;
    position: relative;
    top: 0px;
}

.home-logo,
.explore-logo,
.notifications-logo,
.inbox-logo,
.bookmark-logo,
.lists-logo,
.profile-logo,
.more-logo {
    height: 23px;
}

.write-tweet-button {
    background-color: #1e9bf0;
    height: 45px;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
    margin-left: 423px;
 /*   margin-left: 564px; */
    color: white;
    font-family: "chirp-bold";
    justify-content: center;
    align-items: center;
    padding-left: 85px;
    font-size: 16px;
    padding-right: 85px;
}
/*
.write-wrapper {
    margin-top: 40px;
    margin-left: 564px;
}

*/

/* .twitterlogowrapper {
    margin-top: 40px;
    margin-left: 564px;
}
*/
/*
.home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

*/

.home-button {
    background-color: black;
    border: none;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;

    /* maybe use position absolute to make it stay in the left side*/
}
.home-button:hover {
   background-color: #1e1e1e; 
}

.home-text {
    font-family: "chirp-bold";
    font-size: 20px;
    color: #e7e9ea;
    line-height: 24px;
    padding-left: 10px;
}

.explore-button,
.notifications-button,
.inbox-button,
.bookmark-button,
.lists-button,
.profile-button,
.more-button {
    background-color: black;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.explore-button:hover {
    background-color: #1e1e1e; 
 }

 .explore-text,
 .notifications-text,
 .inbox-text,
 .bookmark-text,
 .lists-text,
 .profile-text,
 .more-text {
    font-family: "chirp-regular";
    font-size: 20px;
    color: #e7e9ea;
    line-height: 24px;
    padding-left: 10px;
}

.notifications-button:hover {
    background-color: #1e1e1e; 
 }
 .inbox-button:hover {
    background-color: #1e1e1e; 
 }
 .bookmark-button:hover {
    background-color: #1e1e1e; 
 }
 .lists-button:hover {
    background-color: #1e1e1e; 
 }
 .profile-button:hover {
    background-color: #1e1e1e; 
 }
 .more-button:hover {
    background-color: #1e1e1e; 
 }

@media (max-height: 1000px) {
    .sidebar-wrapper {
        height: 1000px;
    }
  }
/* make height of sidebar link stop at a certain height */
  